.buttonSave {
    background-color: rgb(4, 154, 4);
    padding: 5px 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    
}

.buttonSave:hover, .buttonOk:hover {
    cursor: pointer;
    background-color: rgb(46, 181, 46);
    transition: .3s;
}

.buttonSave:active, .buttonOk:active {
    background-color: rgb(170, 237, 170);;
    color: rgb(4, 154, 4);
}



@media (max-width: 646px) {
    /* стили для xs-устройств */
    .buttonSave {
        width: 280px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
  }
  @media (min-width: 641px) and (max-width: 1350px) {
    /* стили для md-устройств */
    .buttonSave {
        width: 297px;
    }
   
  }
  @media (min-width: 1351px) {
    /* стили для lg-устройств */
  }


  .buttonEdit {
    background-color: #f0a83b;
    padding: 5px 14px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    transition: .3s;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: #f7bf6a;
    transition: .3s;
}

.buttonEdit:active {
    background-color: #fce6c4;
    color: #f7bf6a;
}

.buttonDelete {
    background-color: #c7312c;
    padding: 5px 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    
}

.buttonDelete:hover, .buttonCansel:hover {
    cursor: pointer;
    background-color: #cc524e;
    transition: .3s;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.buttonDelete:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.buttonDelete:active, .buttonCansel:active {
    background-color: #e9a2a0;
    color: #c7312c;
}

.buttonOk {
    background-color: rgb(4, 154, 4);
    padding: 4px 13px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}

.buttonCansel {
    background-color: #c7312c;
    padding: 4px 13px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}

