.cardSliderWrapper {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.CardSliderArrowLeft {
    color: rgb(1, 1, 80);
    /* background-color: aliceblue; */
    width: 50px;
}

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .card {
    animation-duration: 0.5s;
  }
  
  .card-transition-left {
    animation-name: slideInLeft;
  }
  
  .card-transition-right {
    animation-name: slideInRight;
  }

 