.button {
    background-color: #f0a83b;
    padding: 5px 14px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    transition: .3s;
}

.button:hover {
    cursor: pointer;
    background-color: #f7bf6a;
    transition: .3s;
}

.button:active {
    background-color: #fce6c4;
    color: #f7bf6a;
}